:root {


--var-sd :#9dcc1d;
--var-sd :#862f2ed0;
--var-sd :#862f2eb7;
--var-sd :#862f2e85;
--var-sd :#862f2e46;
--var-sd :#862f2e34;
--var-sd :#862f2e1f;
--var-sd :#862f2e00;
--var-sd :#2a7f8a5e;
--var-bg-title:#231219d0;
--window:#f9555233;
--window: #160101ea;
--window: #0d1115;

--var-sd :#9dcc1d;
--var-sd :#862f2ed0;
--var-sd :#862f2eb7;
--var-sd :#862f2e85;
--var-sd :#862f2e46;
--var-sd :#862f2e34;
--var-sd :#862f2e1f;
--var-sd :#862f2e00;
--var-sd :#2a7f8a5e;
--var-bg-title:#231219d0;
--window:#f9555233;
--window: #160101ea;
--window: #0d1115;



}
